<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#ff9a61;">
    <a class="navbar-brand ml-4" href="#">iPetFood</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Cadastre-se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cadastro-pet">Cadastrar pet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="comprar">Comprar ração</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>